// grid.scss

@import './variables';
@import './mixins';

.container {
  @include container;

  @include media(sm) {
    padding-left: 12rem;
    padding-right: $grid-gutter;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@for $i from 1 through $grid-columns {
  .col-#{$i} {
    @include column($grid-columns);

    @include media(sm) {
      @include column($i);
    }
  }
}
