// Card.scss

@import '../stylesheets/variables';
@import '../stylesheets/mixins';

.card {
  @include column(12);
  margin-bottom: $grid-gutter;

  @include media(sm) {
    @include column(6);
    margin-bottom: $grid-gutter * 2;
  }
}

.card-link {
  display: block;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.card-image {
  img {
    width: 100%;
    display: block;
  }
}

.card-content {
  margin-top: 2rem;
}

.card-name {
  @include h6;
  margin-bottom: 1rem;
}

.card {
  @include animate('down');
}

.card--is-loaded {
  @include animate-in;
}
