// Header.scss

@import '../variables';
@import '../mixins';

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 12rem;
  z-index: 1000;

  .container {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;

    @include media(sm) {
      padding-left: $grid-gutter * 2;
      padding-right: $grid-gutter * 2;
    }
  }
}

.site-brand {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  display: block;

  svg {
    width: 100%;
    height: 100%;
  }
}

.site-name {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 12rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  z-index: -1;
  color: $black;
  font-weight: 500;

  span {
    display: block;
    transform: rotate(-90deg) translateY(-50%);
    white-space: nowrap;
  }
}
