// Header.scss

@import '../variables';
@import '../mixins';

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  height: 12rem;
  z-index: 1000;
  font-size: 1.6rem;

  @include media(sm) {
    height: 12rem;
  }

  .container {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: $grid-gutter * 1.2;
    padding-right: $grid-gutter * 1.2;

    @include media(sm) {
      padding-left: $grid-gutter * 2.7;
      padding-right: $grid-gutter * 2.7;
    }
  }
}

.site-brand {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  display: block;

  svg {
    width: 100%;
    height: 100%;
  }
}

.site-title,
.site-name {
  color: $black;
  font-weight: 500;
}

.site-title {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 12rem;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  z-index: -1;

  @include media(sm) {
    display: flex;
  }

  span {
    display: block;
    transform: rotate(-90deg) translateY(50%);
    transform-origin: 50% 50%;
    white-space: nowrap;
  }
}

.site-name {
  display: none;
}

.site-nav {
  @include media(sm) {
    margin-right: $grid-gutter;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}