// NotFound.scss

@import '../stylesheets/variables';
@import '../stylesheets/mixins';

.not-found {
  margin-top: 4rem;
}


.not-found-content {
  @include column(10);
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @include media(md) {
    @include column(8);
  }

  @include media(lg) {
    @include column(6);
  }
}