// Page.scss

@import '../stylesheets/variables';
@import '../stylesheets/mixins';

.page {
  margin-top: -10rem;

  @include media(sm) {
    margin-top: 0;
  }
}

.container.page-container {

}

.page-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.page-image,
.page-content {
  @include column(12);

  @include media('sm-max') {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-image {
  @include animate('down');
  margin-bottom: 4rem;

  @include media(sm) {
    @include column(6);
    padding-right: $grid-gutter * 2;
  }

  @include media(md) {
    @include column(6);
  }

  .page--is-loaded & {
    @include animate-in;
  }

  img {
    width: 100%;
  }
}

.page-content {
  @include animate('down');
  padding-left: $grid-gutter * 2;
  padding-right: $grid-gutter * 2;

  @include media(sm) {
    @include column(6);
    margin-top: 12rem;
  }

  @include media(md) {
    @include column(6);
    margin-top: 16rem;
    padding-left: $grid-gutter * 2;
    padding-right: $grid-gutter * 2;
  }

  .page--is-loaded & {
    @include animate-in;
  }
}

.page-title {

}

.page-text {

}