// Page.scss

@import '../stylesheets/variables';
@import '../stylesheets/mixins';

.page {
  margin-top: -10rem;

  @include media(sm) {
    margin-top: 0;
    margin-bottom: 4rem;
  }
}

.container.page-container {

}

.page-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
}

.page-image,
.page-content {
  @include column(12);
}

.page-image {
  margin-bottom: 4rem;
  padding-left: 0;
  padding-right: 0;

  @include media(sm) {
    @include column(6);
    margin-bottom: 0;
  }

  @include media(md) {
    @include column(4);
  }

  img {
    width: 100%;
  }
}

.page-content {
  padding-left: $grid-gutter * 2;
  padding-right: $grid-gutter * 2;

  @include media(sm) {
    @include column(6);
  }

  @include media(md) {
    @include column(8);
  }
}

.page-text {
  @include media(sm) {
    padding-right: $grid-gutter * 2;
  }
}
