// Project.scss

@import '../stylesheets/variables';
@import '../stylesheets/mixins';

.project {
  @include animate('down');

  @include media(sm) {
    margin-bottom: 4rem;
  }

  &.is-loaded {
    @include animate-in;
  }
}

.project-header {
  margin-top: 4rem;
  @include column(12);

  @include media(sm) {
    @include column(8);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.project-name {
  margin-bottom: 0;
}

.project-section {
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.project-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
