// Project.scss

@import '../stylesheets/variables';
@import '../stylesheets/mixins';

.project {
  
}

.project-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include media(sm) {
    flex-direction: row-reverse;
  }
}

.project-image,
.project-content {
  @include column(12);

  @include media('sm-max') {
    padding-left: 0;
    padding-right: 0;
  }
}

.project-image {
  @include animate('down');
  margin-bottom: 4rem;

  @include media(sm) {
    @include column(6);
    padding-right: $grid-gutter * 2;
    margin-bottom: 0;
  }

  @include media(md) {
    @include column(7);
    padding-left: $grid-gutter * 4;
  }

  .project--is-loaded & {
    @include animate-in;
  }

  img {
    width: 100%;
  }
}

.project-content {
  @include animate('down');
  padding-left: $grid-gutter * 2;
  padding-right: $grid-gutter * 2;

  @include media(sm) {
    @include animate('up');
    @include column(6);
    margin-top: 12rem;
  }

  @include media(md) {
    @include column(5);
    margin-top: 16rem;
    padding-left: $grid-gutter * 2;
  }

  .project--is-loaded & {
    @include animate-in;
  }
}