@font-face {
  font-family: 'Circular';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Circular'), url('/fonts/CircularStd-Book.woff2') format('woff2'), url('/fonts/CircularStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Circular';
  font-display: fallback;
  font-style: normal;
  font-weight: 500;
  src: local('Circular'), url('/fonts/CircularStd-Medium.woff2') format('woff2'), url('/fonts/CircularStd-Medium.woff') format('woff');
}